.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*   display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer"; */
}
.item-a {
  grid-area: header;
  border: 1px solid red;
}
.item-b {
  grid-area: main;
  border: 1px solid red;
}
.item-c {
  grid-area: sidebar;
  border: 1px solid red;
}
.item-d {
  grid-area: footer;
  border: 1px solid red;
}
