.timeLineContainer {
  padding: 50px;
  height: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.753);
  border-radius: 25px;
  box-shadow: rgba(255, 255, 255, 0.698) 0px 2px 8px 0px;
  position: relative;
}
