.postContainer {
  width: 30%;
  position: absolute;
  top: 30%;
  /*   right: 100px; */
  background-color: transparent !important;
  border: 1px solid rgba(245, 245, 245, 0.705);
  color: whitesmoke;
  box-shadow: rgba(255, 255, 255, 0.698) 0px 2px 8px 0px;
}
